.indexcss {
    background-color: rgb(236, 206, 161);
}
img{
    display: block;
    margin-right: auto;
    margin-left: auto;
}
p {
    font-size: 50pt;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}
h2 {
    text-align: center;
}

.topnav{
 background-color: tan;
    overflow: hidden;

}
.topnav a{
    float: left; 
    color: white;
    text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 30px;
}

.topnav a:hover {
    background-color: white;
    color: tan;
}

.row {
    display: flex;
}

.column {
    flex: 33.33%;
}

.column1 {
    flex: 10%;
}

@media screen and (max-device-width: 60em)  {
/* .indexCSS}
display: grid; 
grid;-template-columns: 1fr;
}*/

.about { 
    width: 15em;
}

.row {
    display: flex;
    flex-direction: row;
}

img { 
    display: block;
    margin-left: auto;
    margin-right: auto;
}

}